@media (max-width: 768px) {
  header .nav {
    display: none;
  }

  .hamburger {
    display: flex;
    padding: 2rem;
  }

  /* Show the menu when hamburger is clicked */
  header.active .nav {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    backdrop-filter: blur(16px);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 1rem;
  }

  header .nav ul {
    flex-direction: column;
    text-align: center;
  }

  header .nav ul li {
    padding: 10px 0;
    color: white;
  }

  header a {
    color: white;
  }
}
